#toc-wrapper {
  border-left: 1px solid rgba(158, 158, 158, 0.17);
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  transition: top 0.2s ease-in-out;
  -webkit-animation: fade-up 0.8s;
  animation: fade-up 0.8s;

  ul {
    list-style: none;
    font-size: 0.85rem;
    line-height: 1.25;
    padding-left: 0;

    li {
      &:not(:last-child) {
        margin: 0.4rem 0;
      }

      a {
        padding: 0.2rem 0 0.2rem 1.25rem;
      }
    }

    /* Overwrite TOC plugin style */

    .toc-link {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        color: var(--toc-highlight);
        text-decoration: none;
      }

      &::before {
        display: none;
      }
    }

    .is-active-link {
      color: var(--toc-highlight) !important;
      font-weight: 600;

      &::before {
        display: inline-block;
        width: 1px;
        left: -1px;
        height: 1.25rem;
        background-color: var(--toc-highlight) !important;
      }
    }

    ul {
      padding-left: 0.75rem;
    }
  }
}